.card {
   
    
    background-color:#AEBBFD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 2px;
    border-top: 3px solid #AEBBFD;
    border-radius: 5px;
    width: 16%;
    transform: translateX(380px) translateY(380%);
  }
  
  .card-title {
    font-size: 15px;
    position: relative;
}

.card-title::after {
    content: "";
    visibility: hidden; 
}

.card:hover .card-title::after {
    content: "7,15"; 
    visibility: visible;
    padding-left: 10px; 
}

mat-card.active {
    background-color: rgb(16, 139, 188);
    color: rgb(5, 2, 2);
}