<div class="container">
  <button (click)="openEditProfilePopup()" class="edit-profile-button" aria-label="Edit Profile">Edit Profile
    <mat-icon>edit</mat-icon>
  </button>
  
  <div class="edit-profile-popup" *ngIf="showEditProfilePopup">
    <form>
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="name">

      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email">

      <label for="profile-photo">Change Profile Photo</label>
      <input type="file" id="profile-photo" (change)="onFileChange($event)">

      <button class="save-button" (click)="saveProfile()">Save</button>
      <button class="close-button"(click)="closeEditProfilePopup()">Close</button>
    </form>
  </div>
</div>
