.user-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  left: 3%;
  top: 0.2%;
  transform: translateY(5%);
  transform: translateX(-36%);
  width: 250px;
  height: 130px;
  padding: 20px;
  margin: 100px;
  background-color: #DDE6ED;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #DDE6ED;
  transition: box-shadow 0.3s; 
  background-color: #DDE6ED;
  z-index: 1;
}

.user-info:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.user-info p {
  margin: 8px 0;
}

.user-info mat-icon {
  margin-right: 2px;
  
}

p{
  color:rgb(17, 3, 3);
}

