<div class="user-info">
  <mat-icon>account_circle</mat-icon>
  <p>{{name}}</p>
  <p>{{email}}</p>
  <p>ID {{id}}</p>
  
  <ng-container *ngIf="isOnMentorPage(); else notMentorPage">
    <app-edit-profile></app-edit-profile>
  </ng-container>
  <ng-template #notMentorPage></ng-template>
  


  <div class="student-page" *ngIf="isOnStudentPage()">
    <app-student-gradeing [data]="studentData" *ngIf="showStudentTable" (close)="closeStudentTable()"></app-student-gradeing>
    <button (click)="openStudentTable()" *ngIf="!showStudentTable">Student Activity</button>
    <button (click)="closeStudentTable()" *ngIf="showStudentTable">Close</button>
  </div>