<div>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Screen Image</title>
  <link rel="stylesheet" >
</head>
<body>
  <div class="image-container">
    <img src="assets/main.webp" alt="Your Image">
  </div>
</body>
</html>

<app-toolbar></app-toolbar>
<app-user-info></app-user-info>
<app-add-to-activity></app-add-to-activity>
<app-add-team></app-add-team>
<app-team-grade></app-team-grade>
<app-activity-bar></app-activity-bar>
<app-team-card-name></app-team-card-name>
<br>
<br>
<br>
<br>
<br>
<br>
<app-user-table [page]="'student'" [dataSource]="studentsData"></app-user-table> 
<br>
<br>
<br>
<br>
</div>