.demo-inline-calendar-card {
  width: 300px;
}

mat-card{
  position: fixed;
  border: 15px solid #AEBBFD;
  border-radius: 8px;
}

mat-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  background-color: #AEBBFD;
}

